---
import Card from "@components/Card.astro";
import {
  getContributionsDays,
  getContributionsCount,
} from "@/utils/contributions";

const contributions = await getContributionsDays(160);
const contributionsAmount = await getContributionsCount();

const lastDay = new Date(contributions[contributions.length - 1].date).getDay();
const remainingDays = 6 - lastDay;
---

<Card
  class="flex flex-col items-start justify-between gap-4 overflow-hidden lg:gap-10"
>
  {
    contributions && (
      <div class="relative flex w-full justify-start lg:justify-end">
        <div class="grid -translate-x-14 -scale-100 grid-flow-col grid-rows-7 gap-1 lg:translate-x-10">
          {[...Array(remainingDays)].map(() => (
            <div class="size-[10px] rounded-[2px] bg-contributions-0" />
          ))}
          {contributions.reverse().map((item) => (
            <div
              class="size-[10px] rounded-[2px]"
              class:list={[
                { "bg-contributions-0": item.level === 0 },
                { "bg-contributions-1": item.level === 1 },
                { "bg-contributions-2": item.level === 2 },
                { "bg-contributions-3": item.level === 3 },
                { "bg-contributions-4": item.level === 4 },
              ]}
            />
          ))}
        </div>
      </div>
    )
  }
  <div class="flex flex-col gap-2">
    {
      contributionsAmount && (
        <p class="text-lg dark:text-neutral-400">{`${contributionsAmount} contributions`}</p>
      )
    }
    <h2 class="text-2xl">Contributions op github</h2>
  </div>
</Card>
