---
import Card from "@components/Card.astro";
import { getEntry } from "astro:content";
import IconCircle from "@components/IconCircle.astro";

const profile = await getEntry("about", "profile");
---

<Card
  class="col-span-full flex flex-col items-start justify-between gap-4 lg:col-span-6"
>
  <IconCircle name="waving-hand" />
  {
    profile.data?.description && (
      <p class="text-balance text-2xl">{profile.data.description}</p>
    )
  }
</Card>
