---
import { getCollection } from "astro:content";
import Section from "@components/Section.astro";
import Position from "@/components/cards/Position.astro";

const experience = await getCollection("experience");
const sortedExperience = experience.sort((a, b) => b.data.order - a.data.order);

const totalExperience = experience.reduce((total, item) => {
  if (!item.data.to) return total + Date.now() - item.data.from.getTime();

  return total + item.data.to.getTime() - item.data.from.getTime();
}, 0);

// Total experience in years
const totalYears = totalExperience / 1000 / 60 / 60 / 24 / 365;
const roundedYears = Math.floor(totalYears);

// Get remaining months from totalYears
const remainingMonths = (totalYears - roundedYears) * 12;
const roundedMonths = Math.floor(remainingMonths);

const experienceInYearsAndMonths = `${roundedYears} jr ${roundedMonths} mnd`;
---

{
  experience && (
    <Section
      class="col-span-full"
      title="Ervaring"
      subTitle={experienceInYearsAndMonths}
    >
      <div class="grid gap-x-grid-gutter gap-y-section-mobile lg:grid-cols-3">
        {sortedExperience.map((item) => (
          <Position item={item} />
        ))}
      </div>
    </Section>
  )
}
