---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import IconCircle from "@components/IconCircle.astro";
---

<Layout title="404" icon="man-facepalming">
  <Card
    class="col-span-full flex flex-col items-start justify-between gap-4 lg:gap-10"
  >
    <IconCircle name="man-facepalming" class="size-11 translate-y-2" />
    <div class="flex flex-col gap-2">
      <h1 class="text-3xl">404 Pagina niet gevonden.</h1>
      <p class="text-lg">Dat is jammer. Deze pagina bestaat niet.</p>
    </div>
  </Card>
</Layout>
