---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import IconCircle from "@components/IconCircle.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog">
  {posts.map((item) => <Card item={item} />)}
  {
    posts.length < 1 && (
      <Card class="col-span-full flex flex-col items-start justify-between gap-4 lg:gap-10">
        <IconCircle name="man-facepalming" />
        <div class="flex flex-col gap-2">
          <h1 class="text-3xl">Geen posts gevonden</h1>
          <p class="text-lg">Helaas, ik heb nog niks moois geschreven.</p>
        </div>
      </Card>
    )
  }
</Layout>
