---
import Layout from '@layouts/Layout.astro';
import User from '@components/User.astro';
import Intro from '@components/Intro.astro';
import Study from '@components/Study.astro';
import Experience from '@components/Experience.astro';
---

<Layout title="Resume | Sjaak van den Brom">
	<main class="container px-4 max-w-5xl mx-auto grid grid-cols-12 gap-y-mobile gap-x-4 lg:gap-y-section-desktop">
		<User />
		<Intro />
		<Experience />
		<Study />
	</main>
</Layout>
