---
import Layout from '@layouts/Layout.astro';
import User from '@components/User.astro';
import Intro from '@components/Intro.astro';
import Experience from '@components/Experience.astro';
---

<Layout title="Resume | Sjaak van den Brom">
	<main class="container max-w-4xl mx-auto grid grid-cols-12 gap-x-4 gap-y-14">
		<User />
		<Intro />
		<Experience />
	</main>
</Layout>
