---
import Layout from '@layouts/Layout.astro';
import User from '@components/User.astro';
import Intro from '@components/Intro.astro';
import { Image } from "@unpic/astro";
---

<Layout title="Over | Sjaak van den Brom">
	<div class="col-span-full">
		<Image
			src="https://ik.imagekit.io/h44fxky6b/_DSC8702.jpg"
			width={992}
			height={340}
			alt="Hero"
			priority
			class="rounded-3xl lg:rounded-4xl"
		/>
	</div>
	<User />
	<Intro />
</Layout>
