<div>
  <div class="inline-flex items-center gap-3 py-2 px-4 rounded-3xl bg-white dark:bg-black">
    <div class="relative rounded-full size-3 bg-[#00dd55]">
      <div class="absolute inset-0 animate-ping rounded-full bg-[#00dd55] duration-700"></div>
    </div>
    Available for work
  </div>
</div>