---
import { getCollection } from 'astro:content';
import Section from '@components/Section.astro';
import Position from '@components/Position.astro';

const experience = await getCollection('experience');
const sortedExperience = experience.sort( ( a, b ) => b.data.order - a.data.order );
---

<Section class="lg:row-start-2 col-span-full" title="Ervaring">
  <div class="grid gap-4 lg:grid-cols-3">
    { experience && sortedExperience.map( ( item ) => (
      <Position item={item} />
    ) ) }
  </div>
</Section>
