---
import Navigation from "@components/Navigation.astro";
import IconCircle from "@components/IconCircle.astro";

interface Props {
  icon?: string;
}

const { icon } = Astro.props;
---

<header class="container mx-auto max-w-5xl px-4">
  <div
    class="flex items-center justify-center rounded-3xl bg-gray-100 px-8 py-6 md:justify-between lg:rounded-4xl lg:px-10 lg:py-8 dark:bg-neutral-900"
  >
    <a href="/" title="Ga naar de homepagina" class="hidden md:block">
      {
        icon && icon === "man-facepalming" && (
          <IconCircle name="man-facepalming" class="size-11 translate-y-2" />
        )
      }
      {!icon && <IconCircle name="man-smiling" class="size-11 translate-y-2" />}
    </a>
    <Navigation />
  </div>
</header>
