---
import NavigationItem from '@components/NavigationItem.astro';

export interface NavItem {
  label: string;
  slug: string;
}

const navItems: NavItem[] = [
  {
    label: 'Home',
    slug: '/'
  },
  {
    label: 'Over',
    slug: '/over'
  },
  {
    label: 'Blog',
    slug: '/blog'
  }
]

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname;
---

<nav>
  <ul class="flex items-center gap-8 text-xl">
    { navItems.map( ( item ) => (
      <NavigationItem 
        item={item}
        active={item.slug === (currentPath === '/' ? '/' : currentPath.replace(/\/$/, ""))}
      />
    ))}
  </ul>
</nav>
