---
import NavigationItem from '@components/NavigationItem.astro';

export interface NavItem {
  label: string;
  slug: string;
}

const navItems: NavItem[] = [
  {
    label: 'Home',
    slug: '/'
  },
  {
    label: 'Over',
    slug: '/over'
  },
  {
    label: 'Blog',
    slug: '/blog'
  },
  {
    label: 'Contact',
    slug: '/contact'
  }
]

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname;
console.log('currentPath: ' + currentPath )
---

<nav>
  <ul class="flex items-center gap-8 text-xl">
    { navItems.map( ( item ) => (
      
      <div>
        <NavigationItem 
          item={item}
          active={item.slug === (currentPath === '/' ? '/' : currentPath.replace(/\/$/, ""))}
        />
      </div>
    ))}
  </ul>
</nav>
