---
import type { NavItem } from '@components/Navigation.astro';

interface Props {
  item: NavItem
  active: boolean
}

const { item, active } = Astro.props;
---

<li>
  <a href={item.slug} class={`underline-offset-4 ${ active ? 'underline' : 'hover:underline'}`}>
    {item.label}
  </a>
</li>
