---
import NavigationItem from '@components/NavigationItem.astro';

export interface NavItem {
  label: string;
  slug: string;
}

const navItems: NavItem[] = [
  {
    label: 'Home',
    slug: '/'
  },
  {
    label: 'Over',
    slug: '/over/'
  },
  {
    label: 'Blog',
    slug: '/blog/'
  },
  {
    label: 'Contact',
    slug: '/contact/'
  }
]
---

<nav>
  <ul class="flex items-center gap-8 text-xl">
    { navItems.map( ( item ) => (
      <NavigationItem item={item} />
    ))}
  </ul>
</nav>
