---
interface Props {
  class?: string;
  title: string;
  subTitle?: string;
}

const { class: className, title, subTitle } = Astro.props;
---

<section class={`flex flex-col gap-6 ${className}`}>
  <div class="flex items-end gap-2">
    <h2 class="text-2xl">{title}</h2>
    {subTitle && <span class="dark:text-neutral-400">{subTitle}</span>}
  </div>
  <slot />
</section>
