---
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Badge from '@components/Badge.astro';
import List from '@components/List.astro';
---

<Section class="lg:row-start-3 col-span-full lg:col-span-6" title="Opleiding">
  <Card class="flex flex-col items-start gap-4">
    <Badge>
      2010-2014
    </Badge>
    <h2 class="text-2xl">Friesland College</h2>
    <p>Media Vormgeving</p>
    <List list={ [ 'ICT- en mediabeheer (MBO-4)' ] } />
  </Card>
</Section>
