---
import Card from "@components/Card.astro";
import IconCircle from "@components/IconCircle.astro";
import { getTimeSpentCoding } from "@/utils/timeSpentCoding";

const timeSpentCoding = await getTimeSpentCoding();
---

<Card class="flex flex-col items-start justify-between gap-4 lg:gap-10">
  <IconCircle name="clock" />
  <div class="flex flex-col gap-2">
    {
      timeSpentCoding && (
        <p class="text-lg dark:text-neutral-400">{timeSpentCoding}</p>
      )
    }
    <h2 class="text-2xl">Tijd gespendeerd aan programmeren</h2>
  </div>
</Card>
