---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Favicons from "@components/Favicons.astro";

interface Props {
  title: string;
  icon?: string;
}

const { title, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Sjaak van den Brom</title>
    <Favicons />
    <link rel="preconnect" href="https://ik.imagekit.io" />
    <ViewTransitions />
  </head>
  <body class="bg-white text-slate-900 dark:bg-black dark:text-white">
    <div
      class="relative z-30 flex flex-col gap-y-section-mobile py-8 lg:gap-y-section-desktop lg:py-20"
    >
      <Header icon={icon} />
      <main
        class="container mx-auto grid w-full max-w-5xl grid-cols-12 gap-x-grid-gutter gap-y-section-mobile px-4 lg:gap-y-section-desktop"
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
