---
import dots from '@assets/dots.svg';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid min-h-screen place-items-center bg-slate-200 text-black dark:text-white dark:bg-black">
		<div class="absolute h-full w-full bg-repeat pointer-events-none" style={`background-image: url(${dots.src});`}></div>
		<div class="relative">
			<slot />
		</div>
	</body>
</html>
