---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/Header.astro';
import dots from '@assets/dots.svg';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👦</text></svg>"
    />
		<ViewTransitions />
	</head>
	<body class="grid min-h-screen justify-center bg-white text-slate-900 dark:text-white dark:bg-black lg:py-20">
		<div class="absolute z-10 h-full w-full bg-repeat pointer-events-none opacity-75" style={`background-image: url(${dots.src});`}></div>
		<div class="absolute z-20 inset-0 bg-gradient-to-b from-white dark:from-black to-transparent"></div>
		<div class="relative z-30 flex flex-col gap-y-section-mobile lg:gap-y-section-desktop">
			<Header />
			<main class="container px-4 max-w-5xl mx-auto grid grid-cols-12 gap-y-mobile gap-x-4 lg:gap-y-section-desktop">
				<slot />
			</main>
		</div>
	</body>
</html>
